---
# Version 15
BasedOnStyle: Chromium
AlignArrayOfStructures: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
InsertBraces: true
PackConstructorInitializers: Never
QualifierAlignment: Right
...
